.form {
  & fieldset {
    border: none;
    padding: 0;
  }
  & legend {
    display: flex;
    font-family: $font-family;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #292e2f;
    margin-bottom: 8px;

    &:after {
      content: url('../img/icons/info.svg');
      display: inline-block;
      margin-left: 8px;
    }
  }
}
.radio-buttons {
  width: 288px;
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.radio-buttons input {
  display: none;
}

.radio-buttons label {
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: $bgInputs;

  cursor: pointer;
  font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;

  color: #292e2f;
  &:last-child {
    grid-column: span 2;
    width: 100%;
  }
}

.radio-buttons label:hover {
  border: 1px solid #ddd;
}

.radio-buttons input:checked + label {
  background: $bginputsHover;
  color: $white;
}

.radio-buttons .custom-input {
  display: block;
  width: 100px;
  margin-top: 10px;
}

//   othe components
/* style.css */
/* Картка продукту */
.product_card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Зображення продукту */
.product_image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.product_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Інформація про продукт */
.product_info {
  padding: 20px;
}

/* SKU продукту */
.product_sku {
  font-family: $font-family;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  margin-bottom: 12px;
  color: #a5b1b2;
  &_code {
    color: #292e2f;
  }
}

/* Назва продукту */
.product_title {
  margin-bottom: 10px;
}

.product_title h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.product_wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 12px;
  margin-bottom: 32px;
}
.product_button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 10px 12px;
  background: #042a30;
  font-family: $third-family;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  border: none;
  &::before {
    content: url('../img/icons/check-icon.svg');
    margin-right: 4px;
  }
}
/* Рейтинг продукту */
.product_rating {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  padding: 8px 12px;
  background: #ffdfd7;
  color: #f1582b;
  font-family: $second-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  &:before {
    content: '★★★★★';
    color: inherit;
  }
  &:after {
    content: url('../img/icons/right_arrow-s.svg');
    justify-self: flex-end;
  }
}
.product_separator {
  height: 1px;
  background: #d6dcdd;
  border: none;
  margin: 0 0 32px;
}
.product_rating .stars {
  color: #f00;
  margin-right: 5px;
}

.product_rating .reviews {
  font-size: 12px;
  color: #999;
  margin-right: 5px;
}

.product_rating a {
  font-size: 12px;
  color: #000;
  text-decoration: underline;
}

/* Ціна продукту */
.product_price {
  display: flex;
  gap: 5px;
  align-items: baseline;
  margin-bottom: 10px;
  font-family: $font-family;
  font-size: 20px;
  color: #146b87;
  font-weight: 700;
  text-transform: uppercase;
  &:before {
    content: 'FROM';
    font-size: 12px;
    font-size: 10px;
    color: #697071;
  }
  &:after {
    content: '*';

    color: #146b87;
  }
}
.product_text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #697071;
}
.product_part-element {
  font-size: 10px;
  color: #146b87;
}

/* Кількість продукту */
.product_quantity {
  margin-bottom: 10px;
}

.product_quantity input {
  width: 50px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Дія продукту */
.product_action {
  text-align: center;
}

// .product_action button {
//   width: 100%;
//   padding: 10px;
//   border: 1px solid #ddd;
//   border-radius: 4px;
//   background-color: #000;
//   color: red;
// }
.product_submit {
  border-radius: 8px;
  padding: 14px 40px;
  width: 100%;
  background: #f1582b;
  font-family: $third-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;
}
