.multiselect {
  position: relative;
  display: inline-block;
  width: 320px;
}

.multiselect-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #d6dcdd;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  background-color: $btnBackground;
  color: #333;
  margin-bottom: 40px;
  &::after {
    content: url('../img/icons/bottom-arrow.svg');
  }
}

.multiselect-button .icon {
  float: right;
  margin-top: 2px;
  margin-right: 5px;
}

.multiselect-options {
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  display: none;
}

.multiselect-option {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.multiselect-option:hover {
  background-color: #f5f5f5;
}

// .multiselect-option input[type='checkbox'] {
//   margin-right: 10px;
// }

// .multiselect-option label {
//   margin-bottom: 0;
// }

.multiselect.active .multiselect-options {
  display: block;
}
