.single {
  padding-top: 32px;
  @include _992 {
    display: flex;
  }
  &_title {
    font-family: $third-family;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #042a30;
    &-hide {
      display: none;
    }
  }

  &_item {
    @include _992 {
      flex: 1;
    }
  }
}
