.single {
  padding-top: 32px;
  @include _992 {
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
  }
  &_title {
    font-family: $third-family;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #042a30;
    @include _992 {
      display: none;
    }
    &-hide {
      display: none;
      @include _992 {
        display: block;
      }
    }
  }

  &_item {
    @include _992 {
      flex: 1;
      max-width: 94%;
    }
  }
}
