<form class="form" action="">
  <fieldset>
    <legend>Conveyor Belt Width, in</legend>
    <div class="radio-buttons">
      <input type="radio" id="size-10" name="size" value="10" checked />
      <label for="size-10">10"</label>

      <input type="radio" id="size-18" name="size" value="18" />
      <label for="size-18">18"</label>

      <input type="radio" id="size-24" name="size" value="24" />
      <label for="size-24">24"</label>

      <input type="radio" id="size-30" name="size" value="30" />
      <label for="size-30">30"</label>

      <input type="radio" id="size-36" name="size" value="36" />
      <label for="size-36">36"</label>

      <input type="radio" id="size-42" name="size" value="42" />
      <label for="size-42">42"</label>

      <input type="radio" id="size-48" name="size" value="48" />
      <label for="size-48">48"</label>

      <input type="radio" id="size-54" name="size" value="54" />
      <label for="size-54">54"</label>

      <input type="radio" id="size-custom" name="size" value="custom" />
      <label for="size-custom">CUSTOM</label>
    </div>
  </fieldset>
  <fieldset>
    <legend>Bed Section Length, in</legend>
    @@include('../components/form-slider.html')
  </fieldset>
  <fieldset>
    <legend>Additional options</legend>
    @@include('./select-options.html')
  </fieldset>

  <fieldset class="product-card">
    <div class="product-info">
      <p class="product-sku">SKU: <span class="product-sku_code">WMD-2446F-GRYI</span></p>
      <button class="product-button">
        Upon request
      </button>
      <div class="product-rating">
        <span class="stars">★★★★★</span>
        <span class="reviews">(20)</span>
        <a href="#">READ ></a>
      </div>
      <div class="product-price">
        <span class="from">FROM</span>
        <span class="price">$22360 EA</span>
      </div>
      <div class="product-quantity">
        <input type="number" value="1" min="1" />
      </div>
      <div class="product-action">
        <button type="button">REQUEST</button>
      </div>
    </div>
  </fieldset>
</form>
