<div class="multiselect">
  <button class="multiselect-button">
    Select options
    <span class="icon"></span>
  </button>
  <ul class="list multiselect-options">
    @@include('../elements/custom-checkbox.html',{"option":'Chain Driven Feeder',"id":'Chain'})
    @@include('../elements/custom-checkbox.html',{"option":'Knee Braces',"id":'Knee'})
    @@include('../elements/custom-checkbox.html',{"option":'ChainDriven Feeder',"id":'ChainDriven'})
    @@include('../elements/custom-checkbox.html',{"option":'Enhanced support',"id":'Enhanced'})
  </ul>
</div>
