<div class="product-left">
  <div class="swiper-container product-slider mb-3">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="./img/products/slide-one.png" alt="" /></div>
      <div class="swiper-slide"><img src="./img/products/slide-two.png" alt="" /></div>
      <div class="swiper-slide"><img src="./img/products/slide-three.png" alt="" /></div>
      <div class="swiper-slide"><img src="./img/products/slide-four.png" alt="" /></div>
      <div class="swiper-slide"><img src="./img/products/slide-five.png" alt="" /></div>


    </div>
    <div class="swiper-pagination"></div>
    <div class="product-left_wrapper">
      <button class="swiper-button-prev button_action"></button>
      <button class="swiper-button-next button_action"></button>

    </div>
  </div>
<!-- product-slider    -->
  <div class="swiper product-thumbs ">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="./img/products/slide-one.png" alt="" /></div>
      <div class="swiper-slide"><img src="./img/products/slide-two.png" alt="" /></div>
      <div class="swiper-slide"><img src="./img/products/slide-three.png" alt="" /></div>
      <div class="swiper-slide"><img src="./img/products/slide-four.png" alt="" /></div>
      <div class="swiper-slide"><img src="./img/products/slide-five.png" alt="" /></div>
    </div>
    <button class="swiper-button-next button_action"></button>
    <button class="swiper-button-prev button_action"></button>
  </div>
</div>
