$font-family: 'SF Pro Text', sans-serif;
$second-family: 'Open Sans', sans-serif;
$third-family: 'Montserrat', sans-serif;
$font3: 'Roboto', sans-serif;
$font4: 'Poppins', sans-serif;
// Colors
$bgInputs: #e0ecf0;
$bginputsHover: #146b87;
$btnBackground: #f2f5f5;
$btnProductHover: #d6dcdd;
$white: #fff;
// breakpoints
// $desktop: 992px
